html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bolder;
  font-family: 'Muli', sans-serif;

}

.weatherApp{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.title {
  font-size: 9rem;
}

.location, .weather, .desc{
  font-size: 6rem;
}

.farenheit{
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  text-shadow: none;
  opacity: 0.5;
}

.farenheit:hover{
  opacity: 1;
}

.celsius{
  border-style: solid;
  border-color: black;
  background-color: #b3ecff;
  color: black;
  text-shadow: none;
  opacity: 0.5;
}

.celsius:hover{
  opacity: 1;
}
